* {
  padding: 0;
  margin: 0px;
 overflow: hidden;
}

@font-face {
  font-family: "My Font";
  src: url("./NEODGM.TTF");}

#game {
  position: relative;
  background: url("bgforA.png");
  width: 1920px;
  height: 1080px;
}

#gameover {
  position: absolute;
  top: 200px; left: 32%; margin-top: 30px; margin-left: 25px;
  transform: translateX(-50%);
  font-size: 4em;
  font-family: "My Font";
  font-weight: bolder;
  /*filter: drop-shadow(2px 2px rgb(124, 97, 97));*/
  animation: twinkle 0.5s linear 2;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#howtoplay {
  position: absolute;
  top: 7%; left: 18%; margin-top: 20px; margin-left: -10px;
  z-index: 20;
}

#btn {
  position: absolute;
  z-index: 30;
  top: 405px; left: 33%; margin-left: 20px;
  font-family: "My Font";
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  font-size: 2.5em;
  color: #ea0054;
  font-weight: 700;
  cursor: pointer;
}

#btn:hover {
  color: rgb(54, 236, 17);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#replay {
  position: absolute;
  z-index: 30;
  top: 290px; left: 33%; margin-left: 7px;
  font-family: "My Font";
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  font-size: 2.5em;
  color: #ea0054;
  font-weight: 700;
  cursor: pointer;
  display: none;
}

#replay:hover {
  color: rgb(54, 236, 17);
}


#character {
  position: absolute;
  width: 500px;
  height: 1000px;
  z-index: 2;
  top: 2px;
  left: 130px;
  background: url("walkingwithbaby.gif") no-repeat;
  transform: scale(0.45);
  display: none;
 /** animation: walk 8s linear 1;
  animation-delay: 0; 
  animation-fill-mode:both;
  animation-play-state: paused;**/
}

/**@keyframes walk {
  100% {left:100%;}
}**/

.jump {
  animation: jump 1s ease;
}

@keyframes jump {
  0% {
    top: 2px;
  }
  50% {
    top: -130px;
  }
  70% {
    top: -130px;
  }
  100% {
    top: 2px;
  }
}

#bomb {
  position: relative;
  top: 270px;
  left: 800px;
  width: 361px;
  height: 313px;
  background: url("bomb.gif");
  display: none;
  transform: scale(0.45);
}

.move {
  animation: moveBomb 2.5s linear infinite;
}

@keyframes moveBomb {
  0% {
    left: 1000px;
  }
  100% {
    left: -110px;
  }
}

#jumpNum {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "My Font";
  font-size: 1.5em;
  font-weight: bolder;
  z-index: 3;
}

#cloud {
  position: absolute;
  top:1%; right:-30%;
  z-index: 2;
  animation:MoveRight 60s linear infinite;
  animation-direction: normal;
  animation-delay: 0; 
}

@keyframes MoveRight {
  100% {right:0%;}
}